@model IEnumerable<Hockey.Models.MatchViewModel>
@{
    ViewBag.Title = "Matches";
}

<h2>Matches</h2>
<meta charset="utf-8" />
<table>
    <thead>
        <tr>
            <th>
               Arena 
            </th>
            <th>
               Home
            </th>
            <th>
               Gone
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model)
        {
        <tr>
            <td>@Html.DisplayName(match.Arena)</td>
            <td>@Html.DisplayName(match.HomeTeam)</td>
            <td>@Html.DisplayName(match.AwayTeam)</td>
            <td>@Html.DisplayName(match.HomeScore.ToString())"/"@Html.DisplayName(match.GoneScore.ToString()) </td>
        </tr>
        }
    </tbody>
</table>