@model IEnumerable<Hockey.Models.Team>
@{
    ViewBag.Title = "Teams";
}

<h2>Teams</h2>
<meta charset="utf-8" />
<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(Team => Team.Teamname)</th>
      
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var team in Model)
            {
                <tr>
                    <td>@Html.DisplayName(team.Teamname)</td>
                </tr>
            }

          }

        @using (Html.BeginForm("CreateTeam"))
        {
            @Html.AntiForgeryToken()
              <div class="form-horizontal">
                    <h4>Team</h4>
                    <hr />
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.FirstOrDefault().ID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstOrDefault().Teamname, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
             </div>
        }

    </tbody>
</table>